{% extends "customer/core_m.html" %}
{% block title %} Acc | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page">
        <div class="card">
            <!-- .card-header -->
            <div class="card-header d-flex">
              <!-- .dropdown -->
              <div class="dropdown">
                <p >
                ACC LIST 
                </p> <!-- .dropdown-menu -->
                <div class="dropdown-menu stop-propagation">
                  <div class="dropdown-arrow"></div>
                </div><!-- /.dropdown-menu -->
              </div><!-- /.dropdown -->
              <a href="/confirm_creating_order/Acc" class="btn btn-primary ml-auto">START NEW ACC</a>
            </div><!-- /.card-header -->
            <div class="table-responsive">
                <!-- .table -->
                <table class="table">
                  <!-- thead -->
                  <thead>
                    <tr>
                      <th style="min-width:256px"> ACC NO </th>
                      <th> REVIEWS</th>
                      <th> TOTAL</th>
                      <th> ACTUAL COUNT</th>
                      <th> DATES </th>
                      <th> ACTION </th>
                    </tr>
                  </thead><!-- /thead -->
                  <!-- tbody -->
                  <tbody>
                    <!-- tr -->
                    {% for acc_values_list in acc_values_list %}
                    <tr>
                      <td class="align-middle text-truncate">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <a href="/add_acc/{{acc_values_list.cashierorid}}">{{acc_values_list.cashierorid}}</a> <small class="d-block text-muted"></small>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle"> 
                        {% if acc_values_list.adminstatus == "0" %} 
                        <span>Pending</span>
                      {% else %}
                      <span>Success</span>
                      {% endif %}                     
      
                      <td class="align-middle"> 
                              <h6>R{{acc_values_list.amount}}</h6>
                           </td>
                        
                           <td class="align-middle"> 
                            <h6>R{{acc_values_list.actualamount}}</h6>
                        </td>
                      
                      <td class="align-middle"> 
                              <span >{{acc_values_list.created_at | date}} </span>
                   </td>
                      </td>
                        <td class="align-middle text-truncate">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <a href="/add_acc/{{acc_values_list.cashierorid}}">{% if acc_values_list.adminstatus == "0" %} Process {% else %} View {% endif %}</a> <small class="d-block text-muted"></small>
                            </div>
                          </div>
             </td>
                </td>
                    </tr>
                    {% endfor %}
                    <!-- /tr -->
                    <!-- tr -->
                  </tbody><!-- /tbody -->
                </table><!-- /.table -->
            </div><!-- /.table-responsive -->
          </div><!-- /.card -->
      </div><!-- /.page -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->


{% endblock %}