{% extends "customer/core_m.html" %}
{% block title %} Add Kazang | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page">
        <div class="card">
            <!-- .card-header -->
            <div class="card-header d-flex">
              <!-- .dropdown -->
              <div class="dropdown">
                <p >
                ACC RECORDS  
                </p> <!-- .dropdown-menu -->
                <div class="dropdown-menu stop-propagation">
                  <div class="dropdown-arrow"></div>
                </div><!-- /.dropdown-menu -->
              </div><!-- /.dropdown -->
              <a href="/acc_list" class="btn btn-primary ml-auto">Close Acc</a>
            </div><!-- /.card-header -->
            <!-- .table-responsive -->
            {% if admin_status == 0 %}
            <div class="table-responsive">
              <!-- .table -->
              <table class="table">
                <!-- thead -->
                <thead>
                  <tr>
                    <th style="min-width:256px"> Amount </th>
                    <th> Action </th>
                  </tr>
                </thead><!-- /thead -->
                <!-- tbody -->
                <tbody>
                  <!-- tr -->

                  <form action="/save_add_acc/{{id}}" method="POST">
                    {% csrf_token %}
                  <tr>
                    <td class="align-middle"> 
                      <div class="form-group">
                        <input type="number" class="form-control" id="tf1" name="amount" aria-describedby="tf1Help" required placeholder="Enter Amount"> 
                      </div><!-- /.form-group -->
                    </td>
            
                 <td class="align-middle"> 
                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </div>
                </td>

                  </tr>
                </form>

                  <!-- /tr -->
                  <!-- tr -->
                </tbody><!-- /tbody -->
              </table><!-- /.table -->
            </div><!-- /.table-responsive -->
          </div><!-- /.card -->
{% else %}

{% endif %}
<br><br>
            <!-- .table-responsive -->
            <div class="table-responsive">
              <!-- .table -->
              <table class="table">
                <!-- thead -->
                <thead>
                  <tr>
                    <th style="min-width:256px"> AMOUNT</th>
                    <th> DATE </th>
                    {% if admin_status == 0 %}
                    <th> ACTIONS </th>
                    {% else %}

                    {% endif %}
                  </tr>
                </thead><!-- /thead -->
                <!-- tbody -->
                <tbody>
                  <!-- tr -->
                  {% for acc_list in acc_list %}
                  <tr>
  
       
                    <td class="align-middle"> 
                            <h6>R{{acc_list.amount}}.00</h6>
                         </td>

                    <td class="align-middle"> 
                            <span >{{acc_list.created_at | date}} </span>
                 </td>
                    </td>
                    {% if admin_status == 0 %}
                      <td class="align-middle text-truncate">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <a href="/delete_acc/{{id}}/{{acc_list.id}}" class="text-primary" >Delete</a>  |  <a href="/update_kazang/{{id}}/{{kazang_list.id}}" class="text-danger">Eith</a> <small class="d-block text-muted"></small>
                          </div>
                        </div>
                    </td>
                      {% else %}

                      
                      {% endif %}
                  </tr>
                  {% endfor %}
                  <!-- /tr -->
                  <!-- tr -->
                </tbody><!-- /tbody -->
              </table><!-- /.table -->
      </div><!-- /.page -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->


{% endblock %}