{% extends "customer/core_m.html" %}
{% block title %} Record Sales | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page">
        <div class="card">
            <!-- .card-header -->
            <div class="card-header d-flex">
              <!-- .dropdown -->
              <div class="dropdown">
                {% if messages %}
                {% for message in messages %}
                <p class="text-danger"> {{message}} </p> 
                {% endfor %}

                {% else %}
                <p> RECORD SALES AND REVIEW </p> 

                {% endif %}
                <!-- .dropdown-menu -->
                <div class="dropdown-menu stop-propagation">
                  <div class="dropdown-arrow"></div>
                </div><!-- /.dropdown-menu -->
              </div><!-- /.dropdown -->
              <button onclick="history.back()" class="btn btn-primary ml-auto">Close</button>
            </div><!-- /.card-header -->
            <!-- .table-responsive -->
            <div class="table-responsive">
              <!-- .table -->
              <table class="table">
                <!-- thead -->
                <thead>
                  <tr>
                    <th style="min-width:256px"> Enter Gross Sales </th>
                    <th style="min-width:256px"> Enter DI (Optional) </th>
                    <th> Comment </th>
                    <th> Action </th>
                  </tr>
                </thead><!-- /thead -->
                <!-- tbody -->
                <tbody>
                  <!-- tr -->

                  <form action="/record_salessave/{{userid}}/{{grand_total}}" method="POST">
                    {% csrf_token %}
                  <tr>
                    <td class="align-middle"> 
                      <div class="form-group">
                        <input type="number" class="form-control" id="tf1" step="any" name="amount" aria-describedby="tf1Help" required placeholder="Enter Amount"> 
                      </div><!-- /.form-group -->
                    </td>

                    <td class="align-middle"> 
                      <div class="form-group">
                        <input type="number" class="form-control" id="tf1" step="any" name="diamount" aria-describedby="tf1Help" required placeholder="Enter DI Amount"> 
                      </div><!-- /.form-group -->
                    </td>
              
                    <td class="align-middle"> 
                        <div class="form-group">
                          <input type="text" class="form-control" name="comment" aria-describedby="tf1Help" required placeholder="Enter Short Message"> 
                        </div><!-- /.form-group -->
                      </td>
                 

                 <td class="align-middle"> 
                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
                </div>
                </td>

                  </tr>
                </form>

                  <!-- /tr -->
                  <!-- tr -->
                </tbody><!-- /tbody -->
              </table><!-- /.table -->
            </div><!-- /.table-responsive -->
          </div><!-- /.card -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->


{% endblock %}