{% extends "customer/core_m.html" %}
{% block title %} Processed Sales | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

{% if sales_log %}
<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .page -->
    <div class="page">
      <!-- .page-inner -->
      <div class="page-inner">
        <!-- .page-title-bar -->
        <header class="page-title-bar">
          <div class="d-flex justify-content-between">
            <p><strong>CASHIERS SUMMARY REPORT</strong></p>
            <div class="btn-toolbar">
              <a href="/print/{{startdate}}/{{enddate}}" target="_blank" class="text-white" target="_blank">
              <button class="btn btn-primary ml-auto">Print Log</button>
            </a>
            </div>
          </div>
        </header><!-- /.page-title-bar -->

        <!-- .page-section -->
        <div class="page-section">
          <!-- .card -->
          <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
            <!-- .card-body -->
            <div class="card-body">
              <!-- .table -->
              <table id="invoicesTable" class="table">
                <!-- thead -->
                <thead>
                  <tr>
                    <th>CASHIER'S NAMES</th>
                    <th style="min-width: 180px"> GRAND TOTAL</th>
                    <th>SALES (SALES + DI)</th>
                    <th>DI AMOUNT</th>
                    <th>DIFF TOTAL</th>
                    <th>PRECOIN</th>
                    <th>STATUS</th>
                    <th>DATE</th>
                    <th>COMMENT</th>
                  </tr>
                </thead><!-- /thead -->
                <!-- tbody -->
                <tbody>
                  <!-- create empty row to passing html validator -->
                  {% for sales_log in sales_log %}
                  <tr>
                    <td>{{sales_log.cashier.first_name | upper}} <span class="text-primary">({{sales_log.cashier.branch}} Branch)</span></td>
                    <td>R {{sales_log.totalpertype}}</td>
                    <td>R {{sales_log.grandtotal}}</td>
                    <td>R {{sales_log.di}}</td>
                    <td>R {{sales_log.diff}}</td>
                    <td>R {{sales_log.precoin}}</td>
                    <td class="text-primary">{{sales_log.status | upper}}</td>
                    <td>{{sales_log.created_at}}</td>
                    <td>{{sales_log.comment}}</td>
                  </tr>
                  {% endfor %}
                 
                </tbody><!-- /tbody -->
              </table><!-- /.table -->
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.page-section -->

      </div><!-- /.page-inner -->
    </div><!-- /.page -->
  </div><!-- /.wrapper -->
</main><!-- /.app-main -->
</div><!-- /.app --> 

{% else %}


<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .page -->
    <div class="page">
      <div class="card">
        <!-- .card-header -->
        <div class="card-header d-flex">
          <!-- .dropdown -->
          <div class="dropdown">
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger"> {{message}} </p> 
            {% endfor %}
      
            {% else %}
      
           <p class="text-primary"> FILTER DIALY REPORT </p> 
      
            {% endif %}
      
            <!-- .dropdown-menu -->
            <div class="dropdown-menu stop-propagation">
              <div class="dropdown-arrow"></div>
            </div><!-- /.dropdown-menu -->
          </div><!-- /.dropdown -->
          <a href="/supervisor_dashboard" class="btn btn-primary ml-auto">Close</a>
        </div><!-- /.card-header -->

<!-- .table-responsive -->
<div class="table-responsive">
  <!-- .table -->
  <table class="table">
    <!-- thead -->
    <thead>
      <tr>
        <th style="min-width:256px"> SELECT START DATES</th>
        <th style="min-width:256px"> SELECT END DATES </th>
        <th> ACTION </th>
      </tr>
    </thead><!-- /thead -->
    <!-- tbody -->
    <tbody>
      <!-- tr -->
      <form action="/filter_daily_report" method="POST">
        {% csrf_token %}
      <tr>
        <td class="align-middle text-truncate">
          <div class="media align-items-center">
            <div class="media-body">
              <div class="form-group">
                <input type="date" class="form-control" id="tf1" name="startdate" required="required"  aria-describedby="tf1Help"> 
            </div><!-- /.form-group -->
            </div>
          </div>
        </td>
        <td class="align-middle text-truncate">
          <div class="media align-items-center">
            <div class="media-body">
              <div class="form-group">
                <input type="date" class="form-control" id="tf1" name="enddate" required="required"  aria-describedby="tf1Help"> 
            </div><!-- /.form-group -->
            </div>
          </div>
        </td>
     <td class="align-middle"> 
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Proceed</button>
    </div>
    </td>

      </tr>
    </form>

      <!-- /tr -->
      <!-- tr -->
    </tbody><!-- /tbody -->
  </table><!-- /.table -->
</div><!-- /.table-responsive -->
</div><!-- /.card -->
</div><!-- /.card -->
</div><!-- /.wrapper -->
</main><!-- /.app-main -->
{% endif %}
{% endblock %}