{% extends "customer/core_m.html" %}
{% block title %} Single sales log process  | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .page -->
    <div class="page">
      <!-- .page-inner -->
      <div class="page-inner">
        <!-- .page-title-bar -->
        <header class="page-title-bar">
          <div class="d-flex justify-content-between">
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger"> {{message}} </p>
            {% endfor %}
            {% else %}
            <p><strong class="text-primary">REPORT SUMMARY FOR {{fetch_cashier_instance.first_name | upper}} <strong></p>
            {% endif %}
            <div class="btn-toolbar">
              <button onclick="history.back()" class="btn btn-primary ml-auto">Close</button>
            </div>
          </div>
        </header><!-- /.page-title-bar -->

        {% if supervisor_salesrecod_check > 0 and supervisor_salesrecod_check > 0 and grand_total > 0 %}

        <!-- .page-section -->
        <div class="page-section">
          <!-- .card -->
          <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
            <!-- .card-body -->
            <div class="card-body">
              <!-- .table -->
              <table id="invoicesTable" class="table">
                <!-- thead -->
                <thead>
                  <tr>
                    <th style="min-width: 180px"> CASHIN CATEGORY </th>
                    <th>TOTAL</th>
                    <th>SALES</th>
                  </tr>
                </thead><!-- /thead -->
                <!-- tbody -->
                <tbody>
                  <!-- create empty row to passing html validator -->
                  {% if qadadic_total_sum == 0 %}

                  {% else %}
                  <tr>
                    <td>QADADIC</td>
                    <td>R {{qadadic_total_sum}}</td>
                    <td> </td>
                  </tr>
                  {% endif %}
          
                  {% if sts_total_sum == 0 %}

                  {% else %}
                  <tr>
                    <td>STS </td>
                    <td>R {{sts_total_sum}}</td>
                    <td> </td>
                  </tr>
                  {% endif %}

                  {% if papers_total_sum == 0 %}

                  {% else %}
                  <tr>
                    <td>PAPERS </td>
                    <td>R {{papers_total_sum}}</td>
                    <td> </td>
                  </tr>
                  {% endif %}

                  {% if note_total_sum == 0 %}

                  {% else %}
                  <tr>
                    <td>NOTES</td>
                    <td>R {{note_total_sum}}</td>
                    <td> </td>
                  </tr>
                  {% endif %}

                  {% if kazang_total_sum == 0 %}

                  {% else %}
                  <tr>
                    <td>KAZANG </td>
                    <td>R {{kazang_total_sum}}</td>
                    <td> </td>
                  </tr>
                  {% endif %}

                  {% if swipes_total_sum == 0 %}

                  {% else %}
                  <tr>
                    <td>SWIPES </td>
                    <td>R {{swipes_total_sum}}</td>
                    <td> </td>
                  </tr>
                  {% endif %}
                  {% if acc_total_sum == 0 %}

                  {% else %}
                  <tr>
                    <td>ACC </td>
                    <td>R {{acc_total_sum}}</td>
                    <td> </td>
                  </tr>
                  {% endif %}
                  <tr class="text-primary">
                    <td><h6>TOTAL</h6></td>
                    <td><h6>R {{grand_total}}</h6></td>
                    {% if cashier_permissioncount == supervisor_salesrecod_check_count%}
                    <td><h6><a class="btn btn-success" href="/record_sales/{{userid}}/{{grand_total}}">Record Sales</a></h6></td>
                    {% else %}
                    <td><h6><a class="btn btn-warning" href="#">Not Completed</a></h6></td>
                    {% endif %}
                  </tr>
                </tbody><!-- /tbody -->
              </table><!-- /.table -->
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </div><!-- /.page-section -->

{% else %}
                <!-- .page-section -->
                <div class="page-section">
                  <!-- .card -->
                  <div class="card card-fluid">
                    <!-- .card-header -->
                    <div class="card-header">
                    <!-- .card-body -->
                    <div class="card-body">
                      <!-- .table -->
                      <table id="invoicesTable" class="table">
                        <!-- thead -->
                        <thead>
                          <tr>
                            <th style="min-width: 180px" class="text-dark">SALES RECORD CANNOT BE PROCESS IF THE CASHIER REVIEW IS NOT COMPLETED OR THERE IS NO SALES RECORD TO PROCESS AT THE MOMENT </th>
                          </tr>
                        </thead><!-- /thead -->
                      </table><!-- /.table -->
                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
                </div><!-- /.page-section -->

{% endif %}


      </div><!-- /.page-inner -->
    </div><!-- /.page -->
  </div><!-- /.wrapper -->
</main><!-- /.app-main -->
</div><!-- /.app -->



{% endblock %}