{% extends "customer/core_m.html" %}
{% block title %} Cashier Single List | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

{% if fetch_data_single_cashier %}
<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page">
        <div class="card">
            <!-- .card-header -->
            <div class="card-header d-flex">
              <!-- .dropdown -->
              <div class="dropdown">
                {% if messages %}
                {% for message in messages %}
                <p class="text-primary" >
               {{message | upper }}
                </p> <!-- .dropdown-menu -->
                {% endfor %}
                {% else %}
                <p >
                  CASHIER DAILY CAPTURES
                  </p> <!-- .dropdown-menu -->

                {% endif %}
                <div class="dropdown-menu stop-propagation">
                  <div class="dropdown-arrow"></div>
                </div><!-- /.dropdown-menu -->
              </div><!-- /.dropdown -->
              {% comment %} <a href="/add_qadadic_list" class="btn btn-primary ml-auto">Close Qadadic</a> {% endcomment %}
            </div><!-- /.card-header -->
            <!-- .table-responsive -->
            <div class="table-responsive">
              <!-- .table -->
              <table class="table">
                <!-- thead -->
                <thead>
                  <tr>
                    <th style="min-width:256px"> CATEGORY </th>
                    <th> SUPERVISOR REVIEW </th>
                    <th> ACTUAL COUNT </th>
                    <th> DATES </th>
                    <th> PROCESS </th>
                  </tr>
                </thead><!-- /thead -->
                <!-- tbody -->
                <tbody>
                  <!-- tr -->

                    {% for fetch_data_single_cashier in fetch_data_single_cashier %}
                  <tr>
                    <td class="align-middle text-truncate">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a href="#">{{fetch_data_single_cashier.types}}</a> <small class="d-block text-muted"></small>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle"> 
                     <span>{% if fetch_data_single_cashier.adminstatus == "0" %} NA {% else %} Successful {% endif %} </span>
                     </td>

                     <td class="align-middle"> 
                        <span class="badge badge-primary">R {{fetch_data_single_cashier.actualamount}}.00</span>
                        </td>

                
                        <td class="align-middle"> 
                        <span >{{fetch_data_single_cashier.created_at}}</span>
                        </td>
                      <td class="align-middle text-truncate">
                        <div class="media align-items-center">
                          <div class="media-body">
                        <a href="/process_actual/{{fetch_data_single_cashier.cashierorid}}/{{fetch_data_single_cashier.types}}/{{fetch_data_single_cashier.customer.id}}" class="text-primary">Process</a> <small class="d-block text-muted"></small>
                        
                          </div>
                        </div>
                      </td>
                  </tr>
                  {% endfor %}
                  <!-- /tr -->
                  <!-- tr -->
                </tbody><!-- /tbody -->
              </table><!-- /.table -->
            </div><!-- /.table-responsive -->
          </div><!-- /.card -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->
{% elif fetch_data_single_cashier_ceo %}
<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .page -->
    <div class="page">
      <div class="card">
          <!-- .card-header -->
          <div class="card-header d-flex">
            <!-- .dropdown -->
            <div class="dropdown">
              {% if messages %}
              {% for message in messages %}
              <p class="text-primary" >
             {{message | upper }}
              </p> <!-- .dropdown-menu -->
              {% endfor %}
              {% else %}
              <p >
                CASHIER DAILY CAPTURES LOG
                </p> <!-- .dropdown-menu -->

              {% endif %}
              <div class="dropdown-menu stop-propagation">
                <div class="dropdown-arrow"></div>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
            {% comment %} <a href="/add_qadadic_list" class="btn btn-primary ml-auto">Close Qadadic</a> {% endcomment %}
          </div><!-- /.card-header -->
          <!-- .table-responsive -->
          <div class="table-responsive">
            <!-- .table -->
            <table class="table">
              <!-- thead -->
              <thead>
                <tr>
                  <th style="min-width:256px"> CATEGORY </th>
                  <th> SUPERVISOR REVIEW </th>
                  <th> TOTAL </th>
                  <th> ACTUAL COUNT </th>
                  <th> DATES </th>
                </tr>
              </thead><!-- /thead -->
              <!-- tbody -->
              <tbody>
                <!-- tr -->

                  {% for fetch_data_single_cashier_ceo in fetch_data_single_cashier_ceo %}
                <tr>
                  <td class="align-middle text-truncate">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <a href="#">{{fetch_data_single_cashier_ceo.types}}</a> <small class="d-block text-muted"></small>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle"> 
                   <span>{% if fetch_data_single_cashier_ceo.adminstatus == "0" %} NA {% else %} OK {% endif %} </span>
                   </td>

                   <td class="align-middle"> 
                    <span class="badge badge-primary">R {{fetch_data_single_cashier_ceo.amount}}.00</span>
                    </td>

                   <td class="align-middle"> 
                      <span class="badge badge-primary">R {{fetch_data_single_cashier_ceo.actualamount}}.00</span>
                      </td>

              
                      <td class="align-middle"> 
                      <span >{{fetch_data_single_cashier_ceo.created_at}}</span>
                      </td>
                
                </tr>
                {% endfor %}
                <!-- /tr -->
                <!-- tr -->
              </tbody><!-- /tbody -->
            </table><!-- /.table -->
          </div><!-- /.table-responsive -->
        </div><!-- /.card -->
  </div><!-- /.wrapper -->
</main><!-- /.app-main -->
{% endif %}

{% endblock %}