{% extends "customer/core_m.html" %}
{% block title %} Customer Dashboard | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}
       <!-- .app-main -->
       <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
          <!-- .page -->
          <div class="page">
            <!-- .page-inner -->
            <div class="page-inner">
              <!-- .page-title-bar -->
              <header class="page-title-bar">
                <div class="d-flex flex-column flex-md-row">
                  <p class="lead">
                    <span class="font-weight-bold">Hi, {{request.user.first_name}}.</span> <span class="d-block text-muted">Here’s what’s happening with your business today.</span>
                  </p>
                  <div class="ml-auto">
                  </div>
                </div>
              </header><!-- /.page-title-bar -->
              <!-- .page-section -->
              <div class="page-section">
                <!-- .section-block -->
                <div class="section-block">
                  <!-- metric row -->
                  <div class="metric-row">
                    <div class="col-lg-9">
                      <div class="metric-row metric-flush">
                        <!-- metric column -->
                        <div class="col">
                          <!-- .metric -->
                          <a href="#" class="metric metric-bordered bg-primary align-items-center">
                            <h2 class="metric-label text-white"> Processed Order </h2>
                            <p class="metric-value h3">
                              <sub><i class="oi oi-people"></i></sub> <span class="value text-white">{{order_count_total}}</span>
                            </p>
                          </a> <!-- /.metric -->
                        </div><!-- /metric column -->
                        <!-- metric column -->
                        <div class="col">
                          <!-- .metric -->
                          <a href="#" class="metric bg-success metric-bordered align-items-center">
                            <h2 class="metric-label text-white"> Completed Order </h2>
                            <p class="metric-value h3">
                              <sub><i class="oi oi-dollar"></i></sub> <span class="value text-white">{{paid_count_total}}</span>
                            </p>
                          </a> <!-- /.metric -->
                        </div><!-- /metric column -->
                        <!-- metric column -->
                        <div class="col">
                          <!-- .metric -->
                          <a href="#" class="metric bg-danger metric-bordered align-items-center">
                            <h2 class="metric-label text-white"> Paid Invoices </h2>
                            <p class="metric-value h3">
                              <sub><i class="fa fa-tasks"></i></sub> <span class="value text-white">{{paid_count_total}}</span>
                            </p>
                          </a> <!-- /.metric -->
                        </div><!-- /metric column -->
                      </div>
                    </div><!-- metric column -->
                    <div class="col-lg-3">
                      <!-- .metric -->
                      <a href="#" class="metric bg-primary metric-bordered">
                        <div class="metric-badge">
                          <span class="badge badge-lg badge-success"><span class="oi oi-media-record text-white pulse mr-1"></span> PENDING PAYMENT</span>
                        </div>
                        <p class="metric-value h3">
                          <sub><i class="oi oi-timer"></i></sub> <span class="value text-white">{{invoice_count_total}}</span>
                        </p>
                      </a> <!-- /.metric -->
                    </div><!-- /metric column -->
                  </div><!-- /metric row -->
                </div><!-- /.section-block -->
                <!-- grid row -->


                <!-- grid row -->
                <div class="row">
                  <div class="col-12 col-lg-6 col-xl-6">
                    <!-- .card -->
                    <div class="card">
                      <!-- .card-header -->
                      <div class="card-header d-flex">
                        <!-- .dropdown -->
                        <div class="dropdown">
                          <h3 id="client-tasks-tab" class="card-title"> ORDER STATUS </h3>
                          <div class="dropdown-menu stop-propagation">
                            <div class="dropdown-arrow"></div>
                            <h6 id="client-invoices-tab" class="dropdown-header"> Invoices </h6>
                          </div><!-- /.dropdown-menu -->
                        </div><!-- /.dropdown -->
                      </div><!-- /.card-header -->
                      <!-- .table-responsive -->
                      <div class="table-responsive">
                        <!-- .table -->
                        <table class="table">
                          <!-- thead -->
                          <thead>
                            <tr>
                              <th style="min-width:256px"> ORDER ID </th>
                              <th> ORDER DATE </th>
                              <th> ORDEE STATUS </th>
                            </tr>
                          </thead><!-- /thead -->
                          <!-- tbody -->
                          <tbody>
      
                            <!-- tr -->
                            {% for eachcustomer_orders in order_list %}
                            <tr>
                              <td class="align-middle text-truncate">
                                <div class="media align-items-center">
                                  <div class="media-body">
                                    <a href="/admin_order_detail/{{eachcustomer_orders.orderid}}">{{eachcustomer_orders.orderid}}</a> <small class="d-block text-muted">Invoice #{{eachcustomer_orders.orderid}}</small>
                                  </div>
                                </div>
                              </td>
                              <td class="align-middle">{{eachcustomer_orders.created_at.date}}</td>
                              {% if eachcustomer_orders.adminstatus == "0" %}
                              <td class="align-middle"> 
                                  <span class="badge badge-warning">PENDING</span>
                                  </td>
                              {% elif eachcustomer_orders.adminstatus == "1"  %}
                              <td class="align-middle">
                                  <span class="badge badge-warning">PROCESSING</span>
                                  </td>
                                  {% elif eachcustomer_orders.adminstatus == "2"  %}
                                  <td class="align-middle">
                                      <span class="badge badge-warning">PAYMENT CONFIRED</span>
                                      </td>
      
                                      {% elif eachcustomer_orders.adminstatus == "3"  %}
                                      <td class="align-middle">
                                          <span class="badge badge-warning">DELIVEYR IN PROGRESS</span>
                                          </td>
                                          {% elif eachcustomer_orders.adminstatus == "4"  %}
                                          <td class="align-middle">
                                              <span class="badge badge-success">ORDER COMPLETED</span>
                                              </td>
                              {% endif %}
                            </tr><!-- /tr -->
                            {% endfor %}
                          </tbody><!-- /tbody -->
                        </table><!-- /.table -->
                      </div><!-- /.table-responsive -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->


                  <!-- grid column -->
                  <div class="col-12 col-lg-6 col-xl-6">
                    <div class="card">
                      <!-- .card-header -->
                      <div class="card-header d-flex">
                        <!-- .dropdown -->
                        <div class="dropdown">
                          <h3 id="client-tasks-tab" class="card-title">NEW CUSTOMERS </h3>
                        </div><!-- /.dropdown -->
                      </div><!-- /.card-header -->
                      <!-- .table-responsive -->
                      <div class="table-responsive">
                        <!-- .table -->
                        <table class="table">
                          <!-- thead -->
                          <thead>
                            <tr>
                              <th> BUSINESS NAME </th>
                              <th> ADDRESS </th>
                              <th> DATE JOINED </th>
                            </tr>
                          </thead><!-- /thead -->
                          <!-- tbody -->
                          <tbody>
                            <!-- tr -->
                            {% for eachcustomer_list in customer_list %}
                            {% ifchanged %}
                            <tr>
                              <td class="align-middle"><a href="#">{{eachcustomer_list.shopname}}</a>
                              </td>

                              <td class="align-middle"> {{eachcustomer_list.shopaddress}} </td>

                              <td class="align-middle">{{eachcustomer_list.date_joined | timesince}} ago</td>
                            </tr><!-- /tr -->
                            {% endifchanged %}
                            {% endfor %}
                            <!-- tr -->
                            <!-- tr -->
                            </tr><!-- /tr -->
                          </tbody><!-- /tbody -->
                        </table><!-- /.table -->
                      </div><!-- /.table-responsive -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->



                </div><!-- /grid row -->
                <!-- card-deck-xl -->
              </div><!-- /.page-section -->
            </div><!-- /.page-inner -->
          </div><!-- /.page -->
        </div><!-- .app-footer -->
      </main>
{% endblock %}