{% extends "customer/core_m.html" %}
{% block title %} Top Management Dashboard | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}
       <!-- .app-main -->
       <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
          <!-- .page -->
          <div class="page">
            <!-- .page-inner -->
            <div class="page-inner">
              <!-- .page-title-bar -->
              <header class="page-title-bar">
                <div class="d-flex flex-column flex-md-row">
                  <p class="lead">
                    <span class="font-weight-bold">Hi, {{request.user.first_name}}.</span> <span class="d-block text-muted">Here’s what’s happening with your business today.</span>
                  </p>
                  <div class="ml-auto">
                  </div>
                </div>
              </header><!-- /.page-title-bar -->
              <!-- .page-section -->
              <div class="page-section">
                <!-- .section-block -->
                <div class="section-block">
  

                </div><!-- /.section-block -->
                <!-- grid row -->
                <!-- grid row -->
                <div class="row">
                  <div class="col-12 col-lg-6 col-xl-6">
                    <!-- .card -->
                    <div class="card">
                      <!-- .card-header -->
                      <div class="card-header d-flex">
                        <!-- .dropdown -->
                        <div class="dropdown">
                          <h3 id="client-tasks-tab" class="card-title">SALES REPORT </h3>
                          <div class="dropdown-menu stop-propagation">
                            <div class="dropdown-arrow"></div>
                            <h6 id="client-invoices-tab" class="dropdown-header"> Invoices </h6>
                          </div><!-- /.dropdown-menu -->
                        </div><!-- /.dropdown -->
                      </div><!-- /.card-header -->
                      <!-- .table-responsive -->
                      <div class="table-responsive">
                        <!-- .table -->
                        <table class="table">
                          <!-- thead -->
                          <thead>
                            <tr>
                              <th style="min-width:256px"> GRAND TOTAL </th>
                              <th> SALES TOTAL </th>
                              <th> DATE </th>
                              <th> ACTION </th>
                            </tr>
                          </thead><!-- /thead -->
                          <!-- tbody -->
                          <tbody>
      
                            <!-- tr -->
                            {% for sales_log in sales_log %}
                            <tr>
                              <td class="align-middle text-truncate">
                                <div class="media align-items-center">
                                  <div class="media-body">
                                    <a href="#">R {{sales_log.totalpertype}}</a> <small class="d-block text-muted">Comment {{sales_log.comment}}</small>
                                  </div>
                                </div>
                              </td>
                              <td class="align-middle"> 
                                  <span class="badge badge-primary">R {{sales_log.grandtotal}}</span>
                              </td> 
                         
                              <td class="align-middle"> 
                                <span>{{sales_log.created_at}}</span>
                            </td> 
                            <td class="align-middle"> 
                              <span class="badge badge-primary"><a href="#">View</a></span>
                          </td>            
                            </tr><!-- /tr -->
                            {% endfor %}
                          </tbody><!-- /tbody -->
                        </table><!-- /.table -->
                      </div><!-- /.table-responsive -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->


                  <!-- grid column -->
                  <div class="col-12 col-lg-6 col-xl-6">
                    <div class="card">
                      <!-- .card-header -->
                      <div class="card-header d-flex">
                        <!-- .dropdown -->
                        <div class="dropdown">
                          <h3 id="client-tasks-tab" class="card-title">CUSTOMER LISTS </h3>
                        </div><!-- /.dropdown -->
                      </div><!-- /.card-header -->
                      <!-- .table-responsive -->
                      <div class="table-responsive">
                        <!-- .table -->
                        <table class="table">
                          <!-- thead -->
                          <thead>
                            <tr>
                              <th> Business Names </th>
                              <th> City </th>
                              <th> Date Joined </th>
                            </tr>
                          </thead><!-- /thead -->
                          <!-- tbody -->
                          <tbody>
                            <!-- tr -->
                            {% for eachall_customers in all_customers %}
                            <tr>
                              <td class="align-middle"><a href="#">{{eachall_customers.shopname}}</a></td>
                              <td class="align-middle"> {{eachall_customers.city}} </td>
                              <td class="align-middle">{{eachall_customers.date_joined |timesince }} ago</td>
                            </tr><!-- /tr -->
                          
                            {% endfor %}
                            <!-- tr -->
                            <!-- tr -->
                            </tr><!-- /tr -->
                          </tbody><!-- /tbody -->
                        </table><!-- /.table -->
                      </div><!-- /.table-responsive -->
                    </div><!-- /.card -->
                  </div><!-- /grid column -->



                </div><!-- /grid row -->
                <!-- card-deck-xl -->
              </div><!-- /.page-section -->
            </div><!-- /.page-inner -->
          </div><!-- /.page -->
        </div><!-- .app-footer -->
      </main>
{% endblock %}