{% extends "customer/core_m.html" %}
{% block title %} Account Approval | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .page -->
    <div class="page">
      <div class="card">
          <!-- .card-header -->
          <div class="card-header d-flex">
            <!-- .dropdown -->
            <div class="dropdown">
              {% if messages %}
              {% for message in messages %}
              <p>{{message}}</p>
              {% endfor %}
              {% else %}
              <p>Change Cashier/Supervisor Password</p> 
              {% endif %}
              <!-- .dropdown-menu -->
              <div class="dropdown-menu stop-propagation">
                <div class="dropdown-arrow"></div>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
            <a href="/acc_list" class="btn btn-primary ml-auto">Close Acc</a>
          </div><!-- /.card-header -->
          <!-- .table-responsive -->
          <div class="table-responsive">
            <!-- .table -->
            <table class="table">
              <!-- thead -->
              <thead>
                <tr>
                  <th style="min-width:256px"> Existing phone number </th>
                  <th> New Password </th>
                </tr>
              </thead><!-- /thead -->
              <!-- tbody -->
              <tbody>
                <!-- tr -->

                <form action="/change_password_" method="POST">
                  {% csrf_token %}
                <tr>
                  <td class="align-middle"> 
                    <div class="form-group">
                      <input type="number" class="form-control" id="tf1" name="phone" aria-describedby="tf1Help" required placeholder="Enter cell phone number"> 
                    </div><!-- /.form-group -->
                  </td>
                  <td class="align-middle"> 
                    <div class="form-group">
                      <input type="text" class="form-control" id="tf1" name="password" aria-describedby="tf1Help" required placeholder="Enter New Password"> 
                    </div><!-- /.form-group -->
                  </td>
               <td class="align-middle"> 
                <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
              </div>
              </td>

                </tr>
              </form>

                <!-- /tr -->
                <!-- tr -->
              </tbody><!-- /tbody -->
            </table><!-- /.table -->
          </div><!-- /.table-responsive -->
        </div><!-- /.card -->



{% endblock %}