{% extends "customer/core_m.html" %}
{% block title %} Daily Expenses | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page has-sidebar has-sidebar-expand-xl">
        <!-- .page-inner -->
        <div class="page-inner">
          <!-- .page-title-bar -->
          <header class="page-title-bar">
            <!-- .d-flex -->
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-light btn-icon d-xl-none" data-toggle="sidebar"><i class="fa fa-angle-double-left"></i></button>
            </div><!-- /.d-flex -->
            <!-- grid row -->
            <div class="row text-center text-sm-left">
              <!-- grid column -->
              <div class="col-sm-auto col-12 mb-2">
                <!-- .has-badge -->
                <div class="has-badge has-badge-bottom">
                  <a href="#" class="user-avatar user-avatar-xl"><img src="{% static 'assets/images/avatars/profile.png' %}" alt=""></a> <span class="tile tile-circle tile-xs" data-toggle="tooltip" title="Public"><i class="fas fa-globe"></i></span>
                </div><!-- /.has-badge -->
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col">
                <h1 class="page-title"> Support Desk </h1>
                <p class="text-muted"> Easy desk to make chat response to customer easy </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
            <!-- .nav-scroller -->
            <div class="nav-scroller border-bottom">
              <!-- .nav -->
              <div class="nav nav-tabs">
                <a class="nav-link" href="#">Messages</a> 
              </div><!-- /.nav -->
            </div><!-- /.nav-scroller -->
          </header><!-- /.page-title-bar -->
          <!-- .page-section -->
          <div class="page-section">
            <!-- .section-block -->
            <div class="section-block">
              <!-- grid row -->
              <div class="row mb-4">
                <!-- .col -->
                <div class="col">
                  <!-- .has-clearable -->
                  <div class="has-clearable">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button> <input type="text" class="form-control" placeholder="Search">
                  </div><!-- /.has-clearable -->
                </div><!-- /.col -->
                <!-- .col-auto -->
                <div class="col-auto">
                  <!-- invite members -->
                  <div class="dropdown">
                    <button class="btn btn-primary" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">Search</button> <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-rich stop-propagation">
                      <div class="dropdown-arrow"></div>
                      <div class="dropdown-header"> Add members </div>
                      <div class="form-group px-3 py-2 m-0">
                        <input type="text" class="form-control" placeholder="e.g. @bent10" data-toggle="tribute" data-remote="assets/data/tribute.json" data-menu-container="#people-list" data-item-template="true" data-autofocus="true"> <small class="form-text text-muted">Search people by username or email address to invite them.</small>
                      </div>
                      <div id="people-list" class="tribute-inline stop-propagation"></div><a href="#" class="dropdown-footer">Invite member by link <i class="far fa-clone"></i></a>
                    </div><!-- /.dropdown-menu -->
                  </div><!-- /invite members -->
                </div><!-- /.col-auto -->
              </div><!-- /grid row -->
     


{% for eachmessage in customer_chat_message %}
              <!-- .card -->
              <div class="card mb-2">
                <!-- .card-body -->
                <div class="card-body">
                  <!-- grid row -->
                  <div class="row align-items-center">
                    <!-- grid column -->
                    <div class="col-auto">
                      <a href="/admin_chat_reply/{{eachmessage.id}}" class="user-avatar user-avatar-lg"><img src="{% static 'assets/images/avatars/profile.png' %}" alt=""> <span class="avatar-badge busy" title="busy"></span></a>
                    </div><!-- /grid column -->
                    <!-- grid column -->
                    <div class="col">
                      <h3 class="card-title">
                        <a href="/admin_chat_reply/{{eachmessage.id}}">{{eachmessage.customer.first_name}}</a> <small class="text-muted">{{eachmessage.created_at | timesince}}</small>
                      </h3>
                      <h6 class="card-subtitle text-muted"> {{eachmessage.message}} </h6>
                    </div><!-- /grid column -->
                    <!-- /grid column -->
                    <div class="col-auto">
                      <button type="button" class="btn btn-icon btn-secondary mr-1" data-toggle="tooltip" title="Private message"><i class="far fa-comment-alt"></i></button> <!-- .dropdown -->
                      <div class="dropdown d-inline-block">
                        <button class="btn btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-h"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <div class="dropdown-arrow"></div><button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                          <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                        </div>
                      </div><!-- /.dropdown -->
                    </div><!-- /grid column -->
                  </div><!-- /grid row -->
                </div><!-- /.card-body -->
              </div><!-- /.card -->

{% endfor %}

            </div><!-- /.section-block -->
          </div><!-- /.page-section -->
        </div><!-- /.page-inner -->
        <!-- .page-sidebar -->
        <div class="page-sidebar">
          <!-- .sidebar-header -->
          <header class="sidebar-header d-sm-none">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                  <a href="#" onclick="Looper.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
                </li>
              </ol>
            </nav>
          </header><!-- /.sidebar-header -->
          <!-- .sidebar-section-fill -->
          <div class="sidebar-section-fill">
            <!-- .card -->
            <div class="card card-reflow">
              <!-- .card-body -->
              <div class="card-body">
                <button type="button" class="close mt-n1 d-none d-xl-none d-sm-block" onclick="Looper.toggleSidebar()" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="card-title"> Chat Log </h4><!-- grid row -->
                <div class="row">
                  <!-- grid column -->
                  <div class="col-6">
                    <!-- .metric -->
                    <div class="metric">
                      <h6 class="metric-value"> $83,743 </h6>
                      <p class="metric-label mt-1"> Incomes </p>
                    </div><!-- /.metric -->
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-6">
                    <!-- .metric -->
                    <div class="metric">
                      <h6 class="metric-value"> $18,821 </h6>
                      <p class="metric-label mt-1"> Expenses </p>
                    </div><!-- /.metric -->
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-6">
                    <!-- .metric -->
                    <div class="metric">
                      <h6 class="metric-value"> 2,630 </h6>
                      <p class="metric-label mt-1"> Leads </p>
                    </div><!-- /.metric -->
                  </div><!-- /grid column -->
                  <!-- grid column -->
                  <div class="col-6">
                    <!-- .metric -->
                    <div class="metric">
                      <h6 class="metric-value"> 40 </h6>
                      <p class="metric-label mt-1"> Clients </p>
                    </div><!-- /.metric -->
                  </div><!-- /grid column -->
                </div><!-- /grid row -->
              </div><!-- /.card-body -->
              <!-- .card-body -->
              <div class="card-body border-top pb-1">
                <h4 class="card-title"> Leads source </h4><!-- .progress -->
                <div class="progress mb-2">
                  <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="33.84" aria-valuemin="0" aria-valuemax="100" style="width: 33.84%">
                    <span class="sr-only">33.84% Complete</span>
                  </div>
                  <div class="progress-bar bg-indigo" role="progressbar" aria-valuenow="24.71" aria-valuemin="0" aria-valuemax="100" style="width: 24.71%">
                    <span class="sr-only">24.71% Complete</span>
                  </div>
                  <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="26.29" aria-valuemin="0" aria-valuemax="100" style="width: 26.29%">
                    <span class="sr-only">26.29% Complete</span>
                  </div>
                  <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="15.15" aria-valuemin="0" aria-valuemax="100" style="width: 15.15%">
                    <span class="sr-only">15.15% Complete</span>
                  </div>
                </div><!-- /.progress -->
              </div><!-- /.card -->
              <!-- .list-group -->
              <div class="list-group list-group-bordered list-group-reflow">
                <!-- .list-group-item -->
                <div class="list-group-item justify-content-between align-items-center">
                  <span><i class="fas fa-square text-teal mr-2"></i> Mailchimp</span> <span class="text-muted">890 result</span>
                </div><!-- /.list-group-item -->
                <!-- .list-group-item -->
                <div class="list-group-item justify-content-between align-items-center">
                  <span><i class="fas fa-square text-indigo mr-2"></i> Facebook</span> <span class="text-muted">650 result</span>
                </div><!-- /.list-group-item -->
                <!-- .list-group-item -->
                <div class="list-group-item justify-content-between align-items-center">
                  <span><i class="fas fa-square text-pink mr-2"></i> Google</span> <span class="text-muted">692 result</span>
                </div><!-- /.list-group-item -->
                <!-- .list-group-item -->
                <div class="list-group-item justify-content-between align-items-center">
                  <span><i class="fas fa-square text-purple mr-2"></i> Linkedin</span> <span class="text-muted">398 result</span>
                </div><!-- /.list-group-item -->
              </div><!-- /.list-group -->
              <!-- .card-body -->
              <div class="card-body border-top">
                <div class="d-flex justify-content-between my-3">
                  <h4 class="card-title"> Recent replies </h4><a href="#">View all</a>
                </div><!-- .timeline -->
                <ul class="timeline timeline-fluid">
                  <!-- .timeline-item -->
  
      
                  <!-- .timeline-item -->
                  <li class="timeline-item">
                    <!-- .timeline-figure -->
                    <div class="timeline-figure">
                      <span class="tile tile-circle tile-sm"><i class="oi oi-person fa-lg"></i></span>
                    </div><!-- /.timeline-figure -->
                    <!-- .timeline-body -->
                    <div class="timeline-body">
                      <!-- .media -->
                      <div class="media">
                        <!-- .media-body -->
                        <div class="media-body">
                          <div class="avatar-group mb-2">
                            <a href="#" class="user-avatar user-avatar-sm"><img src="{% static 'assets/images/avatars/uifaces5.jpg' %}" alt=""></a>
                          </div>
                          <p class="mb-0">
                            <a href="#">Willie Dixon</a> and 3 others followed you </p><span class="timeline-date">4:32pm</span>
                        </div><!-- /.media-body -->
                      </div><!-- /.media -->
                    </div><!-- /.timeline-body -->
                  </li><!-- /.timeline-item -->
                </ul><!-- /.timeline -->
              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </div><!-- /.sidebar-section-fill -->
        </div><!-- /.page-sidebar -->
      </div><!-- /.page -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->
{% endblock %}