{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- End Required meta tags -->
    <title> Savemore Group | Affordable Wholesalers </title>
    <meta name="author" content="Savemore Groups">
    <meta name="description" content="Savemore Group is a fast-moving consumer goods wholesaler Enterprise. We provide general merchandise and food products in bulk to a range of independent traders and commercial users throughout Southern Africa.">
    <link rel="canonical" href="https://savemoregroup.com">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/favic_logo.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favic_logo.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favic_logo.png' %}">
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet"><!-- End GOOGLE FONT --> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/vendor/flatpickr/flatpickr.min.css' %} "><!-- END PLUGINS STYLES -->
    <link rel="stylesheet" href="{% static 'assets/stylesheets/theme.min.css' %} " data-skin="default">
    <link rel="stylesheet" href="{% static 'assets/stylesheets/theme-dark.min.css' %} " data-skin="dark">
    <link rel="stylesheet" href="{% static 'assets/stylesheets/custom.css' %} ">

    <link rel="stylesheet" href="{% static 'assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/nouisliderribute/nouislider.min.css' %}"><!-- END PLUGINS STYLES -->
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script>
      var skin = localStorage.getItem('skin') || 'default';
      var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
      var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
      // Disable unused skin immediately
      disabledSkinStylesheet.setAttribute('rel', '');
      disabledSkinStylesheet.setAttribute('disabled', true);
      // add flag class to html immediately
      if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
    </script><!-- END THEME STYLES -->
  </head>
  <body>

    <!-- .app -->
    <div class="app">
        <header class="app-header app-header-dark">
          <!-- .top-bar -->
          <div class="top-bar">
            <!-- .top-bar-brand -->
            <div class="top-bar-brand">
              <!-- toggle aside menu -->
              <button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside-menu" aria-label="toggle aside menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle aside menu -->
              

              {% if request.user.is_supervisor %}
              <a href="/supervisor_dashboard"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="28" viewbox="0 0 351 100">
                  <defs>
                    <path id="a" d="M156.538 45.644v1.04a6.347 6.347 0 0 1-1.847 3.98L127.708 77.67a6.338 6.338 0 0 1-3.862 1.839h-1.272a6.34 6.34 0 0 1-3.862-1.839L91.728 50.664a6.353 6.353 0 0 1 0-9l9.11-9.117-2.136-2.138a3.171 3.171 0 0 0-4.498 0L80.711 43.913a3.177 3.177 0 0 0-.043 4.453l-.002.003.048.047 24.733 24.754-4.497 4.5a6.339 6.339 0 0 1-3.863 1.84h-1.27a6.337 6.337 0 0 1-3.863-1.84L64.971 50.665a6.353 6.353 0 0 1 0-9l26.983-27.008a6.336 6.336 0 0 1 4.498-1.869c1.626 0 3.252.622 4.498 1.87l26.986 27.006a6.353 6.353 0 0 1 0 9l-9.11 9.117 2.136 2.138a3.171 3.171 0 0 0 4.498 0l13.49-13.504a3.177 3.177 0 0 0 .046-4.453l.002-.002-.047-.048-24.737-24.754 4.498-4.5a6.344 6.344 0 0 1 8.996 0l26.983 27.006a6.347 6.347 0 0 1 1.847 3.98zm-46.707-4.095l-2.362 2.364a3.178 3.178 0 0 0 0 4.501l2.362 2.364 2.361-2.364a3.178 3.178 0 0 0 0-4.501l-2.361-2.364z"></path>
                  </defs>
                  <div class="mb-3">
                    <img class="rounded" src="{% static 'assets/images/save_logo.png' %}" alt="" height="50"/>
                </div>
                </svg></a>
                {% elif request.user.is_cashier %}
                <a href="/cashier_dashboard"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="28" viewbox="0 0 351 100">
                  <defs>
                    <path id="a" d="M156.538 45.644v1.04a6.347 6.347 0 0 1-1.847 3.98L127.708 77.67a6.338 6.338 0 0 1-3.862 1.839h-1.272a6.34 6.34 0 0 1-3.862-1.839L91.728 50.664a6.353 6.353 0 0 1 0-9l9.11-9.117-2.136-2.138a3.171 3.171 0 0 0-4.498 0L80.711 43.913a3.177 3.177 0 0 0-.043 4.453l-.002.003.048.047 24.733 24.754-4.497 4.5a6.339 6.339 0 0 1-3.863 1.84h-1.27a6.337 6.337 0 0 1-3.863-1.84L64.971 50.665a6.353 6.353 0 0 1 0-9l26.983-27.008a6.336 6.336 0 0 1 4.498-1.869c1.626 0 3.252.622 4.498 1.87l26.986 27.006a6.353 6.353 0 0 1 0 9l-9.11 9.117 2.136 2.138a3.171 3.171 0 0 0 4.498 0l13.49-13.504a3.177 3.177 0 0 0 .046-4.453l.002-.002-.047-.048-24.737-24.754 4.498-4.5a6.344 6.344 0 0 1 8.996 0l26.983 27.006a6.347 6.347 0 0 1 1.847 3.98zm-46.707-4.095l-2.362 2.364a3.178 3.178 0 0 0 0 4.501l2.362 2.364 2.361-2.364a3.178 3.178 0 0 0 0-4.501l-2.361-2.364z"></path>
                  </defs>
                  <div class="mb-3">
                    <img class="rounded" src="{% static 'assets/images/save_logo.png' %}" alt="" height="50"/>
                </div>
                </svg></a>
                {% elif request.user.is_ceo %}
                <a href="/admin_dashboard"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="28" viewbox="0 0 351 100">
                  <defs>
                    <path id="a" d="M156.538 45.644v1.04a6.347 6.347 0 0 1-1.847 3.98L127.708 77.67a6.338 6.338 0 0 1-3.862 1.839h-1.272a6.34 6.34 0 0 1-3.862-1.839L91.728 50.664a6.353 6.353 0 0 1 0-9l9.11-9.117-2.136-2.138a3.171 3.171 0 0 0-4.498 0L80.711 43.913a3.177 3.177 0 0 0-.043 4.453l-.002.003.048.047 24.733 24.754-4.497 4.5a6.339 6.339 0 0 1-3.863 1.84h-1.27a6.337 6.337 0 0 1-3.863-1.84L64.971 50.665a6.353 6.353 0 0 1 0-9l26.983-27.008a6.336 6.336 0 0 1 4.498-1.869c1.626 0 3.252.622 4.498 1.87l26.986 27.006a6.353 6.353 0 0 1 0 9l-9.11 9.117 2.136 2.138a3.171 3.171 0 0 0 4.498 0l13.49-13.504a3.177 3.177 0 0 0 .046-4.453l.002-.002-.047-.048-24.737-24.754 4.498-4.5a6.344 6.344 0 0 1 8.996 0l26.983 27.006a6.347 6.347 0 0 1 1.847 3.98zm-46.707-4.095l-2.362 2.364a3.178 3.178 0 0 0 0 4.501l2.362 2.364 2.361-2.364a3.178 3.178 0 0 0 0-4.501l-2.361-2.364z"></path>
                  </defs>
                  <div class="mb-3">
                    <img class="rounded" src="{% static 'assets/images/save_logo.png' %}" alt="" height="50"/>
                </div>
                </svg></a>
                {% else %}
                <a href="/admin_dashboard"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="28" viewbox="0 0 351 100">
                  <defs>
                    <path id="a" d="M156.538 45.644v1.04a6.347 6.347 0 0 1-1.847 3.98L127.708 77.67a6.338 6.338 0 0 1-3.862 1.839h-1.272a6.34 6.34 0 0 1-3.862-1.839L91.728 50.664a6.353 6.353 0 0 1 0-9l9.11-9.117-2.136-2.138a3.171 3.171 0 0 0-4.498 0L80.711 43.913a3.177 3.177 0 0 0-.043 4.453l-.002.003.048.047 24.733 24.754-4.497 4.5a6.339 6.339 0 0 1-3.863 1.84h-1.27a6.337 6.337 0 0 1-3.863-1.84L64.971 50.665a6.353 6.353 0 0 1 0-9l26.983-27.008a6.336 6.336 0 0 1 4.498-1.869c1.626 0 3.252.622 4.498 1.87l26.986 27.006a6.353 6.353 0 0 1 0 9l-9.11 9.117 2.136 2.138a3.171 3.171 0 0 0 4.498 0l13.49-13.504a3.177 3.177 0 0 0 .046-4.453l.002-.002-.047-.048-24.737-24.754 4.498-4.5a6.344 6.344 0 0 1 8.996 0l26.983 27.006a6.347 6.347 0 0 1 1.847 3.98zm-46.707-4.095l-2.362 2.364a3.178 3.178 0 0 0 0 4.501l2.362 2.364 2.361-2.364a3.178 3.178 0 0 0 0-4.501l-2.361-2.364z"></path>
                  </defs>
                  <div class="mb-3">
                    <img class="rounded" src="{% static 'assets/images/save_logo.png' %}" alt="" height="50"/>
                </div>
                </svg></a>
                {% endif %}
            </div><!-- /.top-bar-brand -->
            <!-- .top-bar-list -->
            <div class="top-bar-list">
      
              <!-- .top-bar-item -->
              <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
                <!-- .nav -->
                <ul class="header-nav nav">
                  <!-- .nav-item -->
                  <li class="nav-item dropdown header-nav-dropdown has-notified">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-pulse"></span></a> <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                      <div class="dropdown-arrow"></div>
                      <h6 class="dropdown-header stop-propagation">
                        <span>Promo <span class="badge">(2)</span></span>
                      </h6><!-- .dropdown-scroll -->
                      <div class="dropdown-scroll perfect-scrollbar">
                        <!-- .dropdown-item -->
                  
                   {% for eachpromo_messages in promo_messages %}
                        <!-- .dropdown-item -->
                        <a href="/message_detail/{{eachpromo_messages.id}}" class="dropdown-item">
                          <div class="user-avatar">
                            <img src="{% static 'assets/images/avatars/profile.png' %}" alt="">
                          </div>
                          <div class="dropdown-item-body">
                            <p class="text"> {{eachpromo_messages.title }} </p><span class="date">{{eachpromo_messages.created_at | timesince }} ago</span>
                          </div>
              
                      {% endfor %}
                      </div><!-- /.dropdown-scroll -->
                      <a href="/customer_promo_message" class="dropdown-footer">Show All <i class="fas fa-fw fa-long-arrow-alt-right"></i></a>
                    </div><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->
                  <!-- .nav-item -->
                  <li class="nav-item dropdown header-nav-dropdown has-notified">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-envelope-open"></span></a> <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                      <div class="dropdown-arrow"></div>
                      <h6 class="dropdown-header stop-propagation">
                        <span>Messages</span> <a href="#">Mark all as read</a>
                      </h6><!-- .dropdown-scroll -->
                      <div class="dropdown-scroll perfect-scrollbar">
                        <!-- .dropdown-item -->
                        {% comment %} <a href="#" class="dropdown-item unread">
                          <div class="user-avatar">
                            <img src="{% static 'assets/images/avatars/profile.png' %}" alt="">
                          </div>
                          <div class="dropdown-item-body">
                            <p class="subject"> Upcoming Conference </p>
                            <p class="text text-truncate"> Invitation: Joe's Dinner @ Fri Aug 22 </p><span class="date">2 hours ago</span>
                          </div>
                        </a> <!-- /.dropdown-item --> {% endcomment %}

                      </div><!-- /.dropdown-scroll -->
                      {% comment %} <a href="page-messages.html" class="dropdown-footer">Show All <i class="fas fa-fw fa-long-arrow-alt-right"></i></a> {% endcomment %}
                    </div><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->
                  <!-- .nav-item -->
                  {% comment %} <li class="nav-item dropdown header-nav-dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-grid-three-up"></span></a> <!-- .dropdown-menu -->
                    <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                      <div class="dropdown-arrow"></div><!-- .dropdown-sheets -->
                      <div class="dropdown-sheets">
                        <!-- .dropdown-sheet-item -->
                        <div class="dropdown-sheet-item">
                          <a href="/invoice" class="tile-wrapper"><span class="tile tile-lg bg-indigo"><i class="oi oi-dollar"></i></span> <span class="tile-peek">New Order</span></a>
                        </div><!-- /.dropdown-sheet-item -->
                        <!-- .dropdown-sheet-item -->
                        <div class="dropdown-sheet-item">
                          <a href="/order_list" class="tile-wrapper"><span class="tile tile-lg bg-teal"><i class="oi oi-cart"></i></span> <span class="tile-peek">Order List</span></a>
                        </div><!-- /.dropdown-sheet-item -->
                        <!-- .dropdown-sheet-item -->
                        <div class="dropdown-sheet-item">
                          <a href="/myinvoice" class="tile-wrapper"><span class="tile tile-lg bg-pink"><i class="fa fa-tasks"></i></span> <span class="tile-peek">Invoices</span></a>
                        </div><!-- /.dropdown-sheet-item -->
                        <!-- .dropdown-sheet-item -->
                        <div class="dropdown-sheet-item">
                          <a href="/customer_promo_message" class="tile-wrapper"><span class="tile tile-lg bg-yellow"><i class="menu-icon fas fa-bell"></i></span> <span class="tile-peek">Promo</span></a>
                        </div><!-- /.dropdown-sheet-item -->
                        <!-- .dropdown-sheet-item -->
                        <div class="dropdown-sheet-item">
                          <a href="/track_order" class="tile-wrapper"><span class="tile tile-lg bg-cyan"><i class="oi oi-cart"></i></span> <span class="tile-peek">Track Order</span></a>
                        </div><!-- /.dropdown-sheet-item -->
                      </div><!-- .dropdown-sheets -->
                    </div><!-- .dropdown-menu -->
                  </li><!-- /.nav-item --> {% endcomment %}
                </ul><!-- /.nav -->

                <!-- .btn-account -->
            {% if request.user.is_authenticated and request.user.is_customer %}
             <div class="dropdown d-none d-md-flex">
              <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="{% static 'assets/images/avatars/profile.png' %}" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name">{{request.user.last_name | upper}}</span> <span class="account-description">Customer Account</span></span></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu">
                <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                <h6 class="dropdown-header d-none d-md-block d-lg-none"> {{request.user.shopname}} </h6><a class="dropdown-item" href="/customer_profile"><span class="dropdown-icon oi oi-person"></span>My Profile</a> <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="/track_order">Track Order</a> <a class="dropdown-item" href="/conversation">Ask Help</a> <a class="dropdown-item" href="/order_list">My Orders</a>
              </div>
              {% elif request.user.is_activation and request.user.is_ceo %}
              <div class="dropdown d-none d-md-flex">
                <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="{% static 'assets/images/avatars/profile.png' %}" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name">{{request.user.last_name | upper}}</span> <span class="account-description">Management (CEO)</span></span></button> <!-- .dropdown-menu -->
                <div class="dropdown-menu">
                  <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                  <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                  <h6 class="dropdown-header d-none d-md-block d-lg-none"> {{request.user.shopname}} </h6><a class="dropdown-item" href="/ceo_profile"><span class="dropdown-icon oi oi-person"></span> My Profile</a> <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                </div>
                {% elif request.user.is_activation and request.user.is_admin %}
                <div class="dropdown d-none d-md-flex">
                  <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="{% static 'assets/images/avatars/profile.png' %}" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name">{{request.user.last_name | upper}}</span> <span class="account-description">Super Admin</span></span></button> <!-- .dropdown-menu -->
                  <div class="dropdown-menu">
                    <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                    <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                    <h6 class="dropdown-header d-none d-md-block d-lg-none"> {{request.user.shopname}} </h6><a class="dropdown-item" href="#"><span class="dropdown-icon oi oi-person"></span> Admin Profile</a> <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                  </div>
                  {% elif request.user.is_activation and request.user.is_cashier %}
                  <div class="dropdown d-none d-md-flex">
                    <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="{% static 'assets/images/avatars/profile.png' %}" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name">{{request.user.last_name | upper}}</span> <span class="account-description">Cahsier</span></span></button> <!-- .dropdown-menu -->
                    <div class="dropdown-menu">
                      <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                      <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                      <h6 class="dropdown-header d-none d-md-block d-lg-none"> {{request.user.shopname}} </h6><a class="dropdown-item" href="/cashiers_profile"><span class="dropdown-icon oi oi-person"></span> Cashier Profile</a> <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                    </div>
                    {% elif request.user.is_activation and request.user.is_supervisor %}
                    <div class="dropdown d-none d-md-flex">
                      <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="{% static 'assets/images/avatars/profile.png' %}" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name">{{request.user.last_name | upper}}</span> <span class="account-description">Supervisor</span></span></button> <!-- .dropdown-menu -->
                      <div class="dropdown-menu">
                        <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                        <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                        <h6 class="dropdown-header d-none d-md-block d-lg-none"> {{request.user.shopname}} </h6><a class="dropdown-item" href="/supervisor_profile"><span class="dropdown-icon oi oi-person"></span> Supervisor Profile</a> <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                      </div>
              {% else %} 

             {% endif %}
                  
                  <!-- /.dropdown-menu -->
                </div><!-- /.btn-account -->
              </div><!-- /.top-bar-item -->
            </div><!-- /.top-bar-list -->
          </div><!-- /.top-bar -->
        </header><!-- /.app-header -->
        <!-- .app-aside -->
        <aside class="app-aside app-aside-expand-md app-aside-light">
          <!-- .aside-content -->
          <div class="aside-content">
            <!-- .aside-header -->
            <header class="aside-header d-block d-md-none">
              <!-- .btn-account -->
              <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg"><img src="assets/images/avatars/profile.png" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name">Beni Arisandi</span> <span class="account-description">Marketing Manager</span></span></button> <!-- /.btn-account -->
              <!-- .dropdown-aside -->
              <div id="dropdown-aside" class="dropdown-aside collapse">
                <!-- dropdown-items -->
                <div class="pb-3">
                  <a class="dropdown-item" href="user-profile.html"><span class="dropdown-icon oi oi-person"></span> Profile</a> <a class="dropdown-item" href="auth-signin-v1.html"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                </div><!-- /dropdown-items -->
              </div><!-- /.dropdown-aside -->
            </header><!-- /.aside-header -->

            {% include 'customer/side_menu.html' %}
            
            <!-- Skin changer -->
            <footer class="aside-footer border-top p-2">
              <button class="btn btn-light btn-block text-primary" data-toggle="skin"><span class="d-compact-menu-none">Night mode</span> <i class="fas fa-moon ml-1"></i></button>
            </footer><!-- /Skin changer -->
          </div><!-- /.aside-content -->
        </aside><!-- /.app-aside -->

{% comment %} content template start here {% endcomment %}
  

{% block content %}

    


    
{% endblock content %}

{% comment %} content template ends here {% endcomment %}
<footer class="app-footer">

    <script>
      document.body.addEventListener('htmx:configRequest',(event)=> {
      event.detail.headers['X-CSRFToken'] = '{{csrf_token}}';
    })
    </script>
    
    <div class="copyright"> Copyright © 2023. SaveMore Group All right reserved. </div>
  </footer>
  <!-- /.app-footer -->
    </div>
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/popper.js/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script> <!-- END BASE JS -->
    <!-- BEGIN PLUGINS JS -->
    {% comment %} <script src="{% static 'assets/vendor/pace-progress/pace.min.js' %} "></script> {% endcomment %}
    <script src="{% static 'assets/vendor/stacked-menu/js/stacked-menu.min.js' %} "></script>
    <script src="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %} "></script>
    <script src="{% static 'assets/vendor/handlebars/handlebars.min.js' %} "></script>
    <script src="{% static 'assets/vendor/typeahead.js/typeahead.bundle.min.js' %} "></script>
    <script src="{% static 'assets/vendor/select2/js/select2.min.js' %} "></script>
    <script src="{% static 'assets/vendor/tributejs/tribute.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.caret/jquery.caret.min.js' %}"></script>
    <script src="{% static 'assets/vendor/at.js/js/jquery.atwho.min.js' %} "></script>
    <script src="{% static 'assets/vendor/zxcvbn/zxcvbn.js' %} "></script>
    <script src="{% static 'assets/vendor/vanilla-text-mask/vanillaTextMask.js' %} "></script>
    <script src="{% static 'assets/vendor/text-mask-addons/textMaskAddons.js' %} "></script> <!-- END PLUGINS JS -->
    <!-- BEGIN THEME JS -->
    <script src="{% static 'assets/javascript/theme.min.js' %} "></script> <!-- END THEME JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="{% static 'assets/javascript/pages/select2-demo.js' %} "></script>
    <script src="{% static 'assets/javascript/pages/typeahead-demo.js' %} "></script>
    <script src="{% static 'assets/javascript/pages/atwho-demo.js' %}"></script> <!-- END PAGE LEVEL JS -->
    <script src="{% static 'assets/javascript/pages/dashboard-demo.js' %}"></script> <!-- END PAGE LEVEL JS -->
  </body>
</html>