{% extends "customer/core_m.html" %}
{% block title %} Dialy Expenses | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page container">
        <!-- .page-navs -->
        <br><br>
            <form action="/save_daily_expenses" method="POST">
            {% csrf_token %}
                <fieldset>
                  <div class="form-group">
                    <label for="tf1">Branch (Auto Select)</label> 
                    <input type="text" class="form-control" name="branch" id="tf1" aria-describedby="tf1Help" readonly value="{{request.user.branch}}"> 
                  </div>
                <!-- .form-group -->
                <div class="form-group">
                    <label for="tf1">Expenses Title</label> 
                    <input type="text" class="form-control" id="tf1" name="title" aria-describedby="tf1Help" required placeholder="Fuel Expenses"> 
                </div><!-- /.form-group -->
                  <!-- .form-group -->
                  <div class="form-group">
                    <label for="tf1">Amount</label> 
                    <input type="number" class="form-control" id="tf1" name="amount" aria-describedby="tf1Help" required placeholder="Enter Amount"> 
                  </div><!-- /.form-group -->
       
                  <!-- .form-group -->
                  <div class="form-group">
                    <label for="tf6">Message</label>
                    <textarea class="form-control" name="message" placeholder="Optional" required id="tf6" rows="3"></textarea>
                  </div><!-- /.form-group -->

                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save Expenses</button>
                </div>
                </fieldset>
              </form>

              {% if messages %}
              {% for message in messages %}
              <h5 class="text-success"> {{message}} </h5>
              {% endfor %}
              {% else %}

              {% endif %}
            </div>
        <!-- /.form -->
        </div><!-- /.page-inner -->
      </div><!-- /.page -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->



{% endblock %}