{% extends "customer/core_m.html" %}
{% block title %} Message Details | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page">
        <!-- .page-navs -->
        <nav class="page-navs">
          <!-- .nav-scroller -->
          <div class="nav-scroller">
            <!-- .nav -->
            <div class="nav nav-tabs">
            </div><!-- /.nav -->
          </div><!-- /.nav-scroller -->
        </nav><!-- /.page-navs -->
        <!-- .page-inner -->
        <div class="page-inner">
          <!-- .page-title-bar -->
          <header class="page-title-bar">
            <div class="d-flex justify-content-between">
              <div class="d-md-inline-block">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
           
                  <!-- .input-group-append -->
                  <div class="input-group-append">
                  </div><!-- /.input-group-append -->
                </div><!-- /.input-group -->
              </div>
            </div><button type="button" class="btn btn-success btn-floated d-block d-sm-none"><span class="fa fa-plus"></span></button>
          </header><!-- /.page-title-bar -->

          <!-- .page-section -->
          <div class="page-section">
            <!-- .card -->

                  <!-- grid column -->
                  <div class="col-lg-12">
                    <!-- .card -->

                      <!-- .list-group -->
                      <div class="list-group list-group-flush list-group-divider">

                        {% for message_details in message_details %}
                        
                        <div class="feed">
                            <!-- .feed-post -->
                            <div class="feed-post card">
                              <!-- .card-header -->
                              <div class="card-header card-header-fluid">
                                <a href="#" class="btn-account" role="button">
                                  <div class="user-avatar user-avatar-lg">
                                    <img src="{% static 'assets/images/avatars/profile.png' %}" alt="">
                                  </div>
                                  <div class="account-summary">
                                    <p class="account-name"> {{message_details.title}} </p>
                                    <p class="account-description"> {{message_details.created_at | timesince }} ago </p>
                                  </div>
                                </a> <!-- .dropdown -->
                                <div class="dropdown align-self-start ml-auto">
                                  <button class="btn btn-icon btn-light text-muted" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-arrow"></div>
                                    <a href="/delete_promotional_message/{{message_details.id}}" class="dropdown-item">Delete</a>
                                  </div>
                                </div><!-- /.dropdown -->
                              </div><!-- /.card-header -->
                              <!-- .card-body -->
                              <div class="card-body">
                                {% comment %} <p class="mb-2"> Hey there! this is a post with outbound link, <a href="#" class="mention">@stilearning</a> ratione doloremque eos <a href="#" class="hashtag">#looper</a> aliquid ipsam, molestias cumque asperiores mollitia nam corrupti dolore recusandae nihil? </p><!-- .outbound-link --> {% endcomment %}
                                <a href="#" class="outbound-link">
                                  {% comment %} <h5 class="outbound-title"> Expanding Your Home Network’s Reach </h5> {% endcomment %}
                                  <p class="outbound-text">{{message_details.message}} </p>
                                </a> <!-- /.outbound-link -->
                                <!-- .feed-summary -->
                                {% comment %} <div class="feed-summary">
                                  <a href="#" class="feed-summary-item mr-auto">6.3K likes</a> <a href="#" class="feed-summary-item">826 comments</a> <a href="#" class="feed-summary-item">·</a> <a href="#" class="feed-summary-item">2.9K shares</a>
                                </div><!-- .feed-summary --> {% endcomment %}
                              </div><!-- /.card-body -->
                              <!-- .card-footer -->
                              {% comment %} <div class="card-footer">
                                <div class="card-footer-item">
                                  <button type="button" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-heart"></i> Like</button>
                                </div>
                                <div class="card-footer-item">
                                  <button type="button" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-comment"></i> Comment</button>
                                </div>
                                <div class="card-footer-item">
                                  <button type="button" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-share"></i> Share</button>
                                </div> {% endcomment %}
                              </div><!-- /.card-footer -->
                            </div><!-- /.feed-post -->
                          </div><!-- /.feed -->

                          {% endfor %}
                        
                    </div><!-- /.card -->
                  </div><!-- /grid column -->
            </div><!-- /.card -->
            </div><!-- /.section-block -->
          </div><!-- /.page-section -->
        </div><!-- /.page-inner -->
      </div><!-- /.page -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->



{% endblock %}