{% extends "customer/core_m.html" %}
{% block title %} Sales Log | SaveMore Group  {% endblock %}
{% load static %}
{% block content %}

<main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .page -->
      <div class="page">
        <div class="card">
            <!-- .card-header -->
            <div class="card-header d-flex">
              <!-- .dropdown -->
              <div class="dropdown">
                <p> SALE BOOK LOG </p> <!-- .dropdown-menu -->
                <div class="dropdown-menu stop-propagation">
                  <div class="dropdown-arrow"></div>
                  <h6 id="client-invoices-tab" class="dropdown-header"> Invoices </h6><label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientInvoiceFilter" value="0" checked> <span class="custom-control-label">All (5)</span></label> <label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientInvoiceFilter" value="1"> <span class="custom-control-label">Draft (1)</span></label> <label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientInvoiceFilter" value="2"> <span class="custom-control-label">Send (2)</span></label> <label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientInvoiceFilter" value="3"> <span class="custom-control-label">Paid (0)</span></label>
                </div><!-- /.dropdown-menu -->
              </div><!-- /.dropdown -->
              <button class="btn btn-primary ml-auto"><a href="/print" class="text-white">Download</a></button>
            </div><!-- /.card-header -->
            <!-- .table-responsive -->
            <div class="table-responsive">
              <!-- .table -->
              <table class="table">
                <!-- thead -->
                <thead>
                  <tr>
                    <th> CASHIER NAMES </th>
                    <th style="min-width:256px"> GRAND TOTAL (QADADIC,STS,PAPERS,NOTES,SWIPES,KAZANG) </th>
                    <th> SALE TOTAL </th>
                    <th> DIFF TOTAL </th>
                    <th> DATE </th>
                    <th> STATUS </th>
                    <th> BRANCH </th>
                    <th> ACTION </th>
                  </tr>
                </thead><!-- /thead -->
                <!-- tbody -->
                <tbody>
                  <!-- tr -->
                  {% for sales_log in sales_log %}
                  <tr>
                    <td class="align-middle">{{sales_log.cashier.first_name}}</td>

                    <td class="align-middle text-truncate">
                      <div class="media align-items-center">
                        <a href="#" class="tile bg-pink text-white mr-2">T</a>
                        <div class="media-body">
                          <a href="#">R {{sales_log.totalpertype}}</a> <small class="d-block text-muted">Sales Total by Cashier</small>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-truncate">
                      <div class="media align-items-center">
                        <a href="#" class="tile bg-pink text-white mr-2">T</a>
                        <div class="media-body">
                          <a href="#">R {{sales_log.grandtotal}}</a> <small class="d-block text-muted">Sales Total by Supervisor</small>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle"> R {{sales_log.diff}} </td>
                    <td class="align-middle"> {{sales_log.created_at}} </td>
                    <td class="align-middle"> {{sales_log.status | upper}} </td>
                    <td class="align-middle"> {{sales_log.cashier.branch | upper}} </td>
                    <td class="align-middle"> <a href="/fetch_sales_log_cashier/{{sales_log.created_at | date:'Y-m-d'}}">View</a> </td>
                  </tr>
                  {% endfor %}
                  <!-- /tr -->
                  <!-- tr -->
                </tbody><!-- /tbody -->
              </table><!-- /.table -->
            </div><!-- /.table-responsive -->
          </div><!-- /.card -->
      </div><!-- /.page -->
    </div><!-- /.wrapper -->
  </main><!-- /.app-main -->
</div><!-- /.app -->

{% endblock %}