{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'assets/print/print.css' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/favic_logo.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favic_logo.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favic_logo.png' %}">
        <title>CASHIER LOG HISTORY</title>
    </head>
    <body>
        <div class="ticket">
            {% comment %} <center>
                <img src="{% static 'assets/images/save_logo.png' %}" height="80px" alt="Logo">
            </center> {% endcomment %}
            <p class="centered"><strong>SAVE MORE GROUPS</strong>
                <br>342 Vom Hagen Street
                <br>Pretoria West
                <br> 012 327 5980
                {% comment %} <h1>CASHIER NAMES: </h1> {% endcomment %}
                </p>
                <table>
                    <h5> PROCESSED LOG FOR {{cashier_names | upper }}  FROM: {{startdate}}  TO: {{enddate}}</h5>
                    <hr>
                    <tr>
                      <th>TYPES</th>
                      <th>AMOUNT</th>
                    </tr>
                    {% for processed_orders in processed_orders %}
                    <tr>
                      <td> {{processed_orders.types | upper}} </td>
                      <td>R {{processed_orders.amount}} </td>
                    </tr>
                    {% endfor %}
                  </table>
            </p>
        </div>
        <button id="btnPrint" class="hidden-print">Print</button>
        <script src="{% static 'assets/print/print.js' %}"></script>
    </body>
</html>