{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'assets/print/print.css' %}">
        <title>DAILY REPORT SUMMARY</title>
    </head>
    <body>
        <div class="ticket">
            {% comment %} <center>
                <img src="{% static 'assets/images/save_logo.png' %}" height="80px" alt="Logo">
            </center> {% endcomment %}
            <p class="centered"><strong>SAVE MORE GROUPS</strong>
                <br>342 Vom Hagen Street
                <br>Pretoria West
                <br> 012 327 5980
                </p>
                <table>
                    <tr>
                      <th>CASHIER</th>
                      <th>TOTAL</th>
                      <th>(SALES + DI)</th>
                      <th>DI AMOUNT</th>
                      <th>DIFF</th>
                      <th>STATUS</th>
                      <th>DATE</th>
                      <th>COMMENT</th>
                    </tr>
                    {% for sales_log in sales_log %}
                    <tr>
                      <td>{{sales_log.cashier.first_name}}</td>
                      <td>R{{sales_log.grandtotal}}</td>
                      <td>R{{sales_log.totalpertype}}</td>
                      <td>R{{sales_log.di}}</td>
                      <td>R{{sales_log.diff}}</td>
                      <td>{{sales_log.status}}</td>
                      <td>{{sales_log.created_at}}</td>
                      <td>{{sales_log.comment}}</td>
                    </tr>
                    {% endfor %}
                  </table>
            </p>
        </div>
        <button id="btnPrint" class="hidden-print">Download</button>
        <script src="{% static 'assets/print/print.js' %}"></script>
    </body>
</html>