{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'assets/print/print.css' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/favic_logo.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favic_logo.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favic_logo.png' %}">
        <title>GENERAL CASHIER REPORT</title>
    </head>
    <body>
        <div class="ticket">
            {% comment %} <center>
                <img src="{% static 'assets/images/save_logo.png' %}" height="80px" alt="Logo">
            </center> {% endcomment %}
            <p class="centered"><strong>SAVE MORE GROUPS</strong>
                <br>342 Vom Hagen Street
                <br>Pretoria West
                <br> 012 327 5980
                {% comment %} <h1>CASHIER NAMES: </h1> {% endcomment %}
                </p>
                <table>
                    <h5>  CASHIER GENERAL REPORT  FROM: {{from_date}}  TO: {{end_date}}</h5>
                    <hr>
                    <tr>
                      <th>CASHIER NAMES</th>
                      <th>{{category | upper}} NO</th>
                      <th>AMOUNT</th>
                      <th>DATE</th>
                    </tr>
                    {% for general_report_per_category in general_report_per_category %}
                    <tr>
                      <td>{{general_report_per_category.customer.first_name | lower }} </td>
                      {% if not general_report_per_category.bookno %}
                      <td>N/A</td>
                      {% else %}
                      <td>{{general_report_per_category.bookno}} </td>
                      {% endif %}
                      <td>R{{general_report_per_category.amount}} </td>
                      <td>{{general_report_per_category.created_at}} </td>
                    </tr>
                    {% endfor %}
                  </table>
            </p>
        </div>
        <button id="btnPrint" class="hidden-print">Print</button>
        <script src="{% static 'assets/print/print.js' %}"></script>
    </body>
</html>